.btn {
	padding: 8px;
	border: none;
	border-radius: 5px;
	font-size: 0.9rem;
	color: #fff;
	background-color: var(--color-secondary);
	cursor: pointer;
	transition: all .4s;
	
	&:hover {
		box-shadow: 0 0 10px var(--color-primary);
		background-color: var(--color-primary);
	}
}
