.Home {
   width: 100%;
   min-height: 100vh;
   padding: 50px 30px;
   display: flex;
   justify-content: center;
   align-items: center;

   h1 {
      font-size: 2rem;
      max-width: 400px;
      margin: auto;
   }

   img {
      margin-top: 30px;
      width: 100%;
      max-width: 300px;
   }

   p {
      margin-top: 30px;
   }

   form {
      margin-top: 20px;

      div {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 20px;

         label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2px;

            input {
               max-width: 60px;
            }
         }
      }

      .btn {
         display: block;
         margin: 20px auto 0 auto;
      }

      output {
         display: block;
         margin: 20px auto 0 auto;
         font-size: 1.1rem;
         max-width: max-content;
         padding: 8px 12px;
         color: white;
         background-color: var(--color-terceary);
         border-radius: 4px;
         opacity: 0;

         &.active {
            opacity: 1;
         }
      }
   }
}